django==4.2.22
django-extensions
django-templatetags
django-countries
djangorestframework
djangorestframework-api-key
psycopg2-binary
sqlalchemy
django-bootstrap4
django-loginas
jupyterlab
django-cors-headers
django-csp
setuptools-rust
django-oauth-toolkit
django-two-factor-auth[phonenumberslite]
django-sslserver
django-mfa2
pep8
jupyter-core>=5.8.0 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.32.4 # not directly required, pinned by Snyk to avoid a vulnerability
